:root {
	--primary-color:#23374D;
	--secondary-color:#1089FF;
	--third-color:#E5E5E5;
	--fourth-color:#EEEEEE;
    --primary-font:'Anek Odia', sans-serif;
}

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@200&display=swap');

/* Typography End */

/* Css Reset Start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Css Reset End */
/* Styling */
.contaigner {
	display:flex; 
	background:var(--fourth-color); 
	height:98.8vh; 
	border:5px dashed var(--third-color); 
	justify-content:space-around;
}
#panel{
	display:flex; 
	flex-direction:column; 
	gap:0.5rem; 
	padding: 1em; 
	color:var(--primary-color); 
	font-family:var(--primary-font); 
	font-weight: 600; 
	font-size: 0.9rem; 
	position:relative;
}
#panel input{
	border-bottom: 1px dotted var(--secondary-color);
    border-radius: 5px;
	padding: 0.3em;
	transition:0.2s ease;
    border-top: none;
    border-right: none;
    border-left: none;
}
#panel:after {
	content: "";
	position:absolute;
	width:1px;
	height:310px;
	left:100%;
	top:2.4rem;
	background:var(--third-color);
}
#panel input:hover{
	border-bottom:1px solid var(--secondary-color);
}
#panel .btn:hover{
	background:var(--secondary-color); 
	color:var(--fourth-color); 
	border-bottom:1px solid var(--fourth-color);
}
.radio{font-size: 0.8rem; margin-bottom:1em;}
#table{padding:1em;}
#table th{background:var(--secondary-color); color:var(--fourth-color); padding:1em;}
#table td{background:var(--third-color); color:var(--primary-color); padding:1em;}
/* Styling Ends */
/* Colors */
.green{background:green!important; color:white!important;}
.orange{background:orange!important;}
.red{background:red!important;}
.purple{background:purple!important; color:white!important;}
/* Colors End */